* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loading {
    background-image: url('./../../img/loading.jpg');
    height: 100vh;
    width: 100%;
}

@keyframes bouncing-loader {
    to {
        opacity: 0.5;
        transform: translate3d(0, -16px, 0);
    }
}

.loading-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    animation: bouncing-loader 0.6s infinite alternate;
}

.loader-div {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    position: relative;
    width: 10vw;
    height: 5vw;
    padding: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader span {
    position: absolute;
    height: 1.2vw;
    width: 1.2vw;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.loader span:nth-child(1) {
    animation: loading-dotsA 0.9s infinite linear;
}

.loader span:nth-child(2) {
    animation: loading-dotsB 0.9s infinite linear;
}

@keyframes loading-dotsA {
    0% {
        transform: none;
    }

    25% {
        transform: translateX(20vw);
    }

    50% {
        transform: none;
    }

    75% {
        transform: translateY(20vw);
    }

    100% {
        transform: none;
    }
}

@keyframes loading-dotsB {
    0% {
        transform: none;
    }

    25% {
        transform: translateX(-20vw);
    }

    50% {
        transform: none;
    }

    75% {
        transform: translateY(-20vw);
    }

    100% {
        transform: none;
    }
}